
@import "../../node_modules/normalize.css/normalize.css";
@import './core';


// ------------------------------------
//      V A R I A B L E S
// ------------------------------------

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-color: #222;
$base-font-size: 14px;
$container-width: 1200px;


// ------------------------------------
//      B A S I C   S T Y L E S
// ------------------------------------
* {
    box-sizing: border-box;
    outline: none 0;
}

html, body {
    font-family: $font-family;
    color: $font-color;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    @include respond-from('FHD') {
        font-size: 16px;
    } 
}

.container {
    width: $container-width;
    margin: 0 auto;
}


// ------------------------------------
//          T Y P O G R A P H Y
// ------------------------------------


// ------------------------------------
//          B L O C K S
// ------------------------------------

.map  {
    .custom-placemark {
        $pin-size: 10px;
        display: block;
        background: #fff;
        min-width: 160px;
        padding: 10px 15px;
        position: relative;
        transform: translate(-50%, -100%);
        margin-top: -$pin-size;
        filter: drop-shadow(0 -3px 16px rgba(0, 0, 0, 0.2));
        &:after {
            content: "";
            position: absolute;
            border: $pin-size solid transparent;
            border-top: $pin-size solid #fff;
            top:100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    canvas {
        filter: grayscale(100%) brightness(70%) contrast(200%);
    }
    [class*="-copyright__wrap"] {
        display: none;
    }
}

// ------------------------------------
//          S E C T I O N S
// ------------------------------------

